<% if flash[:warning]%>
    <% flash[:warning].each do |error| %>
        <%= error %><br/>
	<%end%>
<%end%>

<section class="restaurants_display">

  <% @restaurants.each do |restaurant| %>

  <div class="container">
    <%= render "restaurant_individual", restaurant: restaurant %>
  </div>
  <% end %>

</section>
