// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reservationinfo {
	float: right;
	margin: auto;
}

.reservationplace {
	/*width: 50%;*/

}

.information {
	width: 50%;
	border: solid;
}

h2 {
	text-align: center;
}